{% extends 'base.html' %}
{% load static %}
{% block body %}


<!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About Us</h2>
          <p>Lost And Found is a project done during a hackathon which involves the usage of various web and mobile technologies.</p>
        </div>

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="{% static '/img/about.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Very Simple, Easy to use and Cross-Platform Availability</h3>
            <p class="font-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <ul>
              <li><i class="bi bi-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="bi bi-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="bi bi-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
            </ul>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row no-gutters">

          <div class="col-lg-4 col-md-6 content-item">
            <span>01</span>
            <h4>Mobile Compatibility</h4>
            <p>Today there are no excuses, your site must look great and work well on any platform. The growth of mobile and tablet devices is not slowing down and you just don’t know what your next visitor will be using. Optimizing for mobile will improve both the experience of your visitors </p>
          </div>

          <div class="col-lg-4 col-md-6 content-item">
            <span>02</span>
            <h4>Accessible to All Users</h4>
            <p>Accessibility includes: Requirements that are technical and relate to the underlying code rather than to the visual appearance. For example, they ensure that websites work well with assistive technologies. ... Voice recognition software used to input text is another form of assistive technology.</p>
          </div>

          <div class="col-lg-4 col-md-6 content-item">
            <span>03</span>
            <h4> Well Planned Information Architecture</h4>
            <p>Simply put, Information Architecture is the structure of all the information in your app or website. When we put care into the arrangement of information, we can make it easier to understand and navigate. ... An app or website that has good Information Architecture is structurally sound. It's very much like a <building class=""></building></p>
          </div>

          <div class="col-lg-4 col-md-6 content-item">
            <span>04</span>
            <h4>Well Designed and Functional</h4>
            <p>Equally important, the site must work quickly, correctly and as expected. Build to web standards, proofread rigorously and test regularly for problems with speed or functionality. Every page should always be fast and functional, because any of them could be a potential customer’s first or only impression. Broken, slow, or poorly constructed areas will leave your visitors frustrated and encourage them to leave.</p>
          </div>

          <div class="col-lg-4 col-md-6 content-item">
            <span>05</span>
            <h4>Easy to Use</h4>
            <p>Site visitors are always in a hurry. Don’t make them work for information. User Experience (UX) plays a key role in helping visitors use, understand and stay on your website. Create obvious, logical navigation with clear hierarchy. Use consistent layouts and visual cues for functionality across the site.</p>
          </div>

          <div class="col-lg-4 col-md-6 content-item">
            <span>06</span>
            <h4>Fresh, Quality Content</h4>
            <p>The term “fresh content” represents content that is dynamic in nature (especially in meaning). Therefore, it's not as much “new” content in relation to time and when it has actually been created or published, but new in meaning and what the data behind it reflects.</p>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->


{% endblock %}